<!DOCTYPE html>
<html lang="en">

{%- include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="">

    {%- include nav.html %}

    {{ content }}

    {%- include footer.html %}

    <!-- Modern Custom JavaScript -->
    <script src="{{ "/js/custom-modern.js" | prepend: site.baseurl }}"></script>

    <!-- Image to hack wechat -->
    <img src="/img/apple-touch-icon.png" width="0" height="0" />
    <!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
